.eq-popconfirm-container {
  background-color: var(--n0);
  padding: 10px;

  .eq-popconfirm-content {
    &-title {
      color: var(--n900);
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
      margin: 0px;
      margin-bottom: 10px;
    }
    &-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .eq-popconfirm-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    button {
      margin: 0px;
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
}
