.eq-popover-container {
  z-index: 20;
  overflow: hidden;
  .popover-arrow-container {
    background-color: var(--n0);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 10px;
    max-width: 350px;
    // This margin is used in the arrow position calc
    margin: 6px;
    width: fit-content;
    .popover-arrow {
      &.top {
        transform: translateY(calc(100% - 7px));
      }
      &.bottom {
        transform: translateY(calc(-100% + 7px));
      }
      &.right {
        transform: translateX(calc(-100% + 7px));
      }
      &.left {
        transform: translateX(calc(100% - 7px));
      }
    }
  }
}
.eq-popover-wrap {
  width: fit-content;
}
