.swal2-popup {
  font-size: 1.6rem !important;
}

.swal2-title {
  margin: 0.5em 1em 0 !important;
  color: var(--n900) !important;
}
.swal2-popup.swal2-toast .swal2-html-container {
  margin-top: 5px !important;
}

.swal2-timer-progress-bar {
  background: rgba(0, 0, 0, 0.1) !important;
}

.swal2-styled.swal2-cancel {
  color: rgb(123, 123, 123) !important;
  background-color: transparent !important;
  position: absolute;
  top: 3px;
  line-height: 15px;
  right: 0;
  font-weight: 300;
  border-radius: 20px !important;
  font-family: inherit;
  padding: 4px !important;
  width: 24px;
  height: 24px;
  &:hover {
    background-image: none !important;
    background-color: var(--n25) !important;
  }
}
