.eq-button {
  display: flex;
  cursor: pointer;
  border: 0;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
  margin-bottom: 10px;
  font-size: var(--button-font-size, 1.4rem);
  letter-spacing: var(--button-letter-spacing, normal);
  border-radius: var(--button-border-radius, 6px);
  line-height: var(--button-line-height, 2rem);

  .eq-button-inner-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    font-size: 1.6rem;
  }
  &.eq-type {
    &-default {
      color: var(--button-default-color, var(--n500));
      background-color: var(--n0);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.02),
        0px 2px 4px rgba(0, 0, 0, 0.04), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
      border: 1px solid var(--n75);

      &:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05),
          0px 2px 4px rgba(0, 0, 0, 0.07),
          inset 0px -1px 0px rgba(0, 0, 0, 0.07);
      }
      &:active {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06),
          inset 0px -1px 0px rgba(0, 0, 0, 0.07);
      }
      &:disabled {
        box-shadow: none;
        background-color: rgba(27, 44, 77, 0.08);
        color: var(--n250);
        font-weight: 500;
      }
    }
    &-subtle {
      color: var(--button-subtle-color, var(--n500));
      background-color: transparent;
      box-shadow: none;

      &:hover {
        background-color: var(--primary100);
        color: var(--primary500);
      }
      &:active {
        background-color: var(--primary100);
        color: var(--primary600);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.04);
      }
      &:disabled {
        color: var(--n400);
      }
    }
    &-link {
      color: var(--button-link-color, var(--primaryColor));
      background-color: transparent;
      box-shadow: none;
      &:hover {
        .eq-button-inner-wrap:after {
          // transform: scaleX(1);
          border-bottom: solid 1px var(--primaryColor);
        }
      }
      &:active {
        text-decoration-line: none;
        color: var(--primary600);
      }
      &:disabled {
        text-decoration-line: none;
        color: var(--n250);
      }
      .eq-button-inner-wrap:after {
        display: block;
        content: '';
        // border-bottom: solid 1px var(--primaryColor);
        // transform: scaleX(0);
        // transition: transform 300ms ease-in-out;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
    &-link-subtle {
      color: var(--button-link-subtle-color, var(--n500));
      background-color: transparent;
      box-shadow: none;

      &:hover {
        // color: var(--n400);
        .eq-button-inner-wrap:after {
          border-bottom: solid 1px var(--n400);
          // transform: scaleX(1);
        }
      }
      &:active {
        text-decoration-line: none;
        color: var(--n600);
      }
      &:disabled {
        text-decoration-line: none;
        color: var(--n400);
      }
      .eq-button-inner-wrap:after {
        display: block;
        content: '';
        // border-bottom: solid 1px var(--n300);
        // transform: scaleX(0);
        // transition: transform 300ms ease-in-out;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
    &-primary {
      color: var(--button-primary-color, var(--n0));
      background-color: var(--primaryColor);

      &:hover {
        background-color: var(--primary400);
      }
      &:active {
        background-color: var(--primary600);
      }
      &:disabled {
        background-color: var(--primaryColor);
        opacity: 0.35;
      }
    }
    &-secondary {
      color: var(--button-secondary-color, var(--n0));
      background-color: var(--secondaryColor);

      &:hover {
        background-color: var(--secondary400);
      }
      &:active {
        background-color: var(--secondary600);
      }
      &:disabled {
        background-color: var(--secondaryColor);
        opacity: 0.08;
        color: var(--n250);
      }
    }
    &-success {
      color: var(--button-success-color, var(--n0));
      background-color: var(--green);

      &:hover {
        background-color: var(--g400);
      }
      &:active {
        background-color: var(--g600);
      }
      &:disabled {
        background-color: var(--green);
        opacity: 0.35;
      }
    }
    &-warning {
      color: var(--button-warning-color, var(--n800));
      background-color: var(--yellow);

      &:hover {
        background-color: var(--y400);
      }
      &:active {
        background-color: var(--y600);
      }
      &:disabled {
        background-color: var(--yellow);
        opacity: 0.25;
      }
    }
    &-danger {
      color: var(--button-danger-color, var(--n0));
      background-color: var(--red);

      &:hover {
        background-color: var(--r400);
      }
      &:active {
        background-color: var(--r600);
      }
      &:disabled {
        background-color: var(--red);
        opacity: 0.35;
      }
    }
  }
  &.eq-size {
    &-default {
      padding: var(--button-default-padding, 8px 14px);
    }
    &-compact {
      padding: var(--button-compact-padding, 4px 12px);
    }
    &-large {
      padding: var(--button-large-padding, 12px 16px);
      font-weight: 600;
      font-size: 1.6rem;
      svg {
        font-size: 1.8rem;
      }
    }
  }
  &.icon {
    &-before {
      svg {
        margin-right: 6px;
      }
    }
    &-after {
      svg {
        margin-left: 6px;
      }
      &[type='submit'] {
        svg {
          transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
          left: 10px;
          position: relative;
          left: 0;
        }
      }
      &:hover {
        &[type='submit'] {
          &.eq-size {
            &-default {
              svg {
                left: 7px;
              }
            }
            &-compact {
              svg {
                left: 3px;
              }
            }
            &-large {
              svg {
                left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
