@import '../../shared/styles/input-styles.scss';

.eq-datepicker-popover {
  .popover-arrow-container {
    width: auto;
  }
  .rdrCalendarWrapper {
    color: var(--n900);
    font-size: 1.4rem;
    width: 100%;
    .rdrMonth {
      width: auto;
    }
    .rdrDay.rdrDayHovered {
      .rdrDayNumber {
        &:after {
          border: 2px solid;
        }
      }
    }
  }
}
.eq-datepicker {
  z-index: 1;

  .eq-popover-wrap {
    width: auto;
  }
  input {
    text-decoration: transparent;
    cursor: pointer;
    &::-webkit-datetime-edit-day-field:focus,
    &::-webkit-datetime-edit-month-field:focus,
    &::-webkit-datetime-edit-year-field:focus {
      background-color: transparent;
      outline: none;
    }
    &::-webkit-calendar-picker-indicator {
      display: none;
      cursor: pointer;
      filter: invert(89%) sepia(6%) saturate(215%) hue-rotate(172deg)
        brightness(95%) contrast(93%);
    }
  }
}
