@import '../../shared/styles/input-styles.scss';

.eq-datepicker {
  z-index: 1;

  .eq-popover-wrap {
    width: auto;
  }
  input {
    text-decoration: transparent;
    cursor: pointer;

    &::-webkit-datetime-edit-day-field:focus,
    &::-webkit-datetime-edit-month-field:focus,
    &::-webkit-datetime-edit-year-field:focus {
      background-color: transparent;
      outline: none;
    }
    &::-webkit-calendar-picker-indicator {
      display: none;
      cursor: pointer;
      filter: invert(89%) sepia(6%) saturate(215%) hue-rotate(172deg)
        brightness(95%) contrast(93%);
    }
  }
}

.eq-datepicker-popover.eq-popover-container .popover-arrow-container {
  box-shadow: none;
  // Looks like this important is absolutely necessary to override
  padding: 0 !important;
}
