.eq-input,
.eq-select,
.eq-datepicker,
.eq-rangepicker,
.eq-upload {
  position: relative;
  margin: 20px 0;

  .eq-input-icon {
    > svg {
      position: absolute;
      top: 50%;

      color: var(--n200);
      opacity: 1;
      transform: translateY(-50%);
      font-size: 1.7rem;
    }
    &:first-of-type > svg {
      left: 12px;
    }
    &:last-of-type > svg {
      right: 20px;
    }
  }
  input,
  textarea {
    display: block;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    width: 100%;
    height: 52px;

    padding: 10px;
    padding-top: 20px;
    font-size: 1.5rem;
    transition: all 0.2s linear;
    box-sizing: border-box;
    background-color: var(--app-color, transparent);
    color: inherit;

    &:not(:placeholder-shown),
    &:-webkit-autofill {
      ~ label {
        color: var(--n300);
        top: 0;
        left: 0;
        font-size: 12px;
        transform: translate(0);
        transition: all 0.2s linear;
      }
    }
    &:hover {
      border: 2px solid var(--n100);
      padding-left: 9px;
    }
    &:focus,
    &:focus-visible {
      box-shadow: none;
      border: 2px solid var(--primaryColor);
      outline: none;

      ~ label {
        color: var(--n300);
        top: 0;
        left: 0;
        font-size: 12px;
        transform: translate(0);
        transition: all 0.2s linear;
      }
    }
  }
  .error {
    input,
    textarea {
      padding-left: 9px;
    }
  }
  input,
  textarea {
    &:hover,
    &:focus,
    &:focus-visible {
      padding-left: 9px;
    }
  }
  label {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 15px;
    color: var(--n300);
    pointer-events: none;
    transition: all 0.2s linear;
    padding: 8px 10px;
    transform: translateY(-50%);
  }
  .error-message {
    opacity: 0;
    transition: all 0.2s linear;
  }
  &.icon-before {
    input,
    textarea {
      padding-left: 35px;

      &:not(:placeholder-shown),
      &:-webkit-autofill,
      &:focus,
      &:focus-visible {
        ~ label {
          left: 26px;
        }
      }
      &:hover,
      &:-webkit-autofill,
      &:focus,
      &:focus-visible {
        padding-left: 34px;
      }
    }
    label {
      left: 30px;
    }
  }
  &.icon-after {
    input,
    textarea {
      padding-right: 30px;
    }
  }
  &.error {
    input,
    textarea {
      border: 2px solid var(--error);

      &:-webkit-autofill,
      &:focus,
      &:focus-visible {
        border: 2px solid var(--primaryColor);

        ~ {
          svg,
          .error-message {
            opacity: 0;
          }
        }
      }
    }
    .error-message {
      opacity: 1;
      position: absolute;
      bottom: -17px;
      right: 0;
      color: var(--error);
      font-size: 12px;
      margin-right: 10px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 3px;
      }
    }
  }
}
